.test_item {
    width: 400px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #e4652b;
    border-radius: 2px;
    padding: 10px 0;
    text-align: center;
}

.form_item {
    text-align: left;
    float: left;
    width: 100%;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 5px;
}

.answer_radio {
    width: 50px;
    margin: 0;
    display: inline-block;
}

.answer_radio input[type='radio'] {
    width: 10px;

}

.form_item .label {
    width: 35%;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

.form_item .input {
    width: 60%;
    display: inline-block;
    outline: none;
    border: 1px solid #818181;
    border-radius: 2px;
    line-height: 24px;
    padding-left: 2px;
}