.App {
    text-align: center;
    width: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.button {
    display: inline-block;
    background: #fff;
    border: 1px solid #0366d6;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
